<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314232435258-29o4qfvpnj2u0ke6n46q8p0mgieqvfnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314232435258-29o4qfvpnj2u0ke6n46q8p0mgieqvfnt</string>
	<key>API_KEY</key>
	<string>AIzaSyCrjmYqeTyLOy3vYpJHg4XIUEhu4k4eVZI</string>
	<key>GCM_SENDER_ID</key>
	<string>314232435258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiddeninfinity</string>
	<key>PROJECT_ID</key>
	<string>solidstealth</string>
	<key>STORAGE_BUCKET</key>
	<string>solidstealth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314232435258:ios:23f3b86602cfccd8bd3b03</string>
	<key>DATABASE_URL</key>
	<string>https://solidstealth.firebaseio.com</string>
</dict>
</plist>